@import '../../index.scss';


.saved{
    top: 0;
padding: 20px;
width: 23vw;
min-height: 100vh;
position: fixed;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
border-left: 1px solid #ccc;
color: white;
background-color: $dark;
.box{
    width: 100px;
    height: 100px;
    background-color: lighten($color: $primary, $amount: 20);
    border-radius: 50%;    
    background-size: cover;
}
.male-profile{
    background-image: url('../Assets/male.png');
}

.female-profile{
    background-image: url('../Assets/female.png');
}
h2{
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
}
.s-card{
    width: 100%;
}
.f-card{
    border-radius: 12px;
    width: 90%;
    margin: 0 auto;
    min-height: auto;
    padding: 12px 0;
    background-color: #272a30;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    img{
        width: 100px;
        height: 100px;
        margin: 0 5px ;
        border-radius: 50%;
    }
    .text{
        flex-direction: column;
        padding: 6px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        button{
            padding: 12px;
            border: none;
            background-color: rgba($color: $dark, $alpha: 0.5);
            color: white;
            transition: all 1s ease-in-out;
            cursor: pointer;
            border-radius: 6px;
            &:hover{
                background-color: $dark;
            }
        }
    }
    h2{
        font-size: .9rem;
        text-align: left;
    }
    
}