@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&display=swap");
.heading {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
}

.center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view {
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e9f3fb;
  color: #5627ff;
  border-radius: 6px;
  border: none;
  padding: 12px;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.view:hover {
  background-color: #5627ff;
  color: #e9f3fb;
}

.show-on-small {
  display: none;
}

.icon-primary {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  background-color: #5627ff;
  border: none;
  margin: 10px;
  font-size: 18px;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-primary:hover {
  background-color: #05060f;
}

.i-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .hide-on-small {
    display: none;
  }
  .show-on-small {
    display: block;
  }
  .icon-menu {
    font-size: 34px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #5627ff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.saved {
  top: 0;
  padding: 20px;
  width: 23vw;
  min-height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #ccc;
  color: white;
  background-color: #05060f;
}

@media screen and (max-width: 1020px) {
  .saved {
    display: none;
  }
}

.saved .box {
  width: 100px;
  height: 100px;
  background-color: #a68dff;
  border-radius: 50%;
  background-size: cover;
}

.saved .male-profile {
  background-image: url("../Assets/male.png");
}

.saved .female-profile {
  background-image: url("../Assets/female.png");
}

.saved h2 {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.s-card {
  width: 100%;
}

.f-card {
  border-radius: 12px;
  width: 90%;
  margin: 0 auto;
  min-height: auto;
  padding: 12px 0;
  background-color: #272a30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-card img {
  width: 100px;
  height: 100px;
  margin: 0 5px;
  border-radius: 50%;
}

.f-card .text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.f-card .text button {
  padding: 12px;
  border: none;
  background-color: rgba(5, 6, 15, 0.5);
  color: white;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
  border-radius: 6px;
}

.f-card .text button:hover {
  background-color: #05060f;
}

.f-card h2 {
  font-size: .9rem;
  text-align: left;
}
/*# sourceMappingURL=Saved.css.map */