@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&display=swap");
.heading {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
}

.center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view {
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e9f3fb;
  color: #5627ff;
  border-radius: 6px;
  border: none;
  padding: 12px;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.view:hover {
  background-color: #5627ff;
  color: #e9f3fb;
}

.show-on-small {
  display: none;
}

.icon-primary {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  background-color: #5627ff;
  border: none;
  margin: 10px;
  font-size: 18px;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-primary:hover {
  background-color: #05060f;
}

.i-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .hide-on-small {
    display: none;
  }
  .show-on-small {
    display: block;
  }
  .icon-menu {
    font-size: 34px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #5627ff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.col-dark {
  background-color: #05060f;
}

.home {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #05060f;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(8.5vw, 1fr) 11fr;
      grid-template-columns: minmax(8.5vw, 1fr) 11fr;
}

.link {
  background-color: #272a30;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 4px;
}

.sidenav {
  padding: 20px;
  width: 8.5vw;
  min-height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidenav img {
  width: 50px;
  height: 50px;
}

.sidenav .menu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 12px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272a30;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidenav .menu button {
  background-color: #04050d;
  color: whitesmoke;
  padding: 12px;
  margin: 10px auto;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sidenav .menu button:hover {
  background-color: #5627ff;
  -webkit-box-shadow: 0.2px 0.5px 12px #5627ff;
          box-shadow: 0.2px 0.5px 12px #5627ff;
}

.MainBoard {
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9fr 3fr;
      grid-template-columns: 9fr 3fr;
  grid-auto-rows: auto;
}

.MainBoard .col {
  height: auto;
  width: 100%;
  padding: 25px;
}

.MainBoard .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MainBoard .header p {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

.MainBoard .header input {
  border-radius: 12px;
  border: none;
  border: .5px solid #272a3056;
  -webkit-box-shadow: 3.4px 1.9px 2.2px rgba(0, 0, 0, 0.003), 8.2px 4.6px 5.3px rgba(0, 0, 0, 0.004);
          box-shadow: 3.4px 1.9px 2.2px rgba(0, 0, 0, 0.003), 8.2px 4.6px 5.3px rgba(0, 0, 0, 0.004);
  font-size: 16px;
  font-weight: 500;
  padding: 12px 30px;
}

.MainBoard .header input:focus {
  outline: none;
  border: .5px solid #272a30;
}

.card-header {
  width: 100%;
  background-color: #5627ff;
  background-image: linear-gradient(315deg, #5627ff 0%, #3b5ffc 74%);
  margin: 5vh auto;
  margin-top: 10vh;
  padding: 20px;
  border-radius: 12px;
  min-height: 25vh;
  background-color: #272a30;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 5fr;
      grid-template-columns: 7fr 5fr;
  color: white;
}

.card-header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-header button {
  margin: 15px 0;
  font-family: 'Poppins', sans-serif;
  padding: 8px 12px;
  background-color: white;
  border-radius: 4px;
  border: none;
  font-weight: 500;
}

.card-header p {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 10px;
}

.card-header h2 {
  font-size: 1.2rem;
}

.card-header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-header img {
  margin-top: -70px;
  max-width: 200px;
  position: relative;
}

.categories {
  width: 100%;
  min-height: auto;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories .box.selected {
  border: 2px solid #5627ff;
  background-color: #ecf2f5;
}

.categories .box {
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  background-color: #eff4f7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  color: #5627ff;
  cursor: pointer;
  -webkit-transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 2px solid transparent;
}

.categories .box:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  border: 2px solid #5627ff;
  background-color: #ecf2f5;
}

.categories img {
  width: 40px;
  height: 40px;
}

.categories p {
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .categories {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .categories .box {
    margin: 10px;
    min-width: 75px;
    min-height: 75px;
  }
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh 0;
}

.card-grid {
  width: 100%;
  min-height: auto;
  display: -ms-grid;
  display: grid;
  margin-top: 10vh;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 75px 20px;
}

@media screen and (max-width: 600px) {
  .card-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.card-grid .card {
  max-width: 280px;
  margin: 0 auto;
  padding: 20px 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border-radius: 12px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 1.1px 0px 2.2px rgba(0, 0, 0, 0.003), 2.7px 0px 5.3px rgba(0, 0, 0, 0.004), 5px 0px 10px rgba(0, 0, 0, 0.005), 8.9px 0px 17.9px rgba(0, 0, 0, 0.006), 16.7px 0px 33.4px rgba(0, 0, 0, 0.007), 40px 0px 80px rgba(0, 0, 0, 0.01);
          box-shadow: 1.1px 0px 2.2px rgba(0, 0, 0, 0.003), 2.7px 0px 5.3px rgba(0, 0, 0, 0.004), 5px 0px 10px rgba(0, 0, 0, 0.005), 8.9px 0px 17.9px rgba(0, 0, 0, 0.006), 16.7px 0px 33.4px rgba(0, 0, 0, 0.007), 40px 0px 80px rgba(0, 0, 0, 0.01);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-grid .card:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.card-grid .card .text {
  width: 100%;
  padding: 12px;
  text-align: center;
}

.card-grid .card h2 {
  min-height: 45px;
  font-size: 1rem;
  font-weight: 500;
}

.card-grid .card img {
  -webkit-box-shadow: 1.1px 0px 2.2px rgba(0, 0, 0, 0.003), 2.7px 0px 5.3px rgba(0, 0, 0, 0.004);
          box-shadow: 1.1px 0px 2.2px rgba(0, 0, 0, 0.003), 2.7px 0px 5.3px rgba(0, 0, 0, 0.004);
  margin-top: -60px;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.col-2 {
  padding: 0 20px;
}

.col-2 h2 {
  font-size: 24px;
  font-family: "DM Serif Display", serif;
}

@media screen and (max-width: 900px) {
  .card-header {
    margin-top: 5vh;
  }
  .MainBoard .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .MainBoard .header h2 {
    font-size: 1.2rem;
  }
  .MainBoard .header input {
    width: 80% !important;
  }
  .card-header h2 {
    font-size: 1rem;
  }
  .card-header img {
    margin: 0;
    width: 120px;
  }
  .icon-menu {
    position: absolute;
    right: 8px;
  }
  .sidenav {
    display: none;
  }
  .home {
    display: block;
  }
  .MainBoard {
    padding: 10px;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .MainBoard .col {
    padding: 0;
  }
}

.categories .box {
  margin: 2.5px !important;
}

.not-found {
  margin: 20px auto;
  width: 100%;
}
/*# sourceMappingURL=Home.css.map */