@import '../../index.scss';
.col-dark{
    background-color: $dark;
}

.home{
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: $dark;
    display: grid;
    grid-template-columns: minmax(8.5vw,1fr) 11fr;
}

.link{
    background-color: #272a30;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 4px;
}
.sidenav{

    padding: 20px;
    width: 8.5vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    img{
        width: 50px;
        height: 50px;
    }
    .menu{
        width:max-content;
        border-radius: 12px;
        padding:12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #272a30;
        flex-direction: column;
        button{
            background-color: darken($color: $dark, $amount: .5);
            color: whitesmoke;
            padding: 12px;
            margin: 10px auto;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: none;
            transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover{
                background-color:$primary;
                box-shadow: .2px .5px 12px $primary;
            }
        }
 
    }

}

// main board

.MainBoard{
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-auto-rows: auto;
    .col{
        height: auto;
        width: 100%;
        padding: 25px ;
    }

    .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            color: #7a7a7a;
            font-size: 15px;
            font-weight: 400;
margin-top: 10px;
        }
        input{
            border-radius: 12px;
            border: none;
            border: .5px solid #272a3056;
            box-shadow:
            3.4px 1.9px 2.2px rgba(0, 0, 0, 0.003),
            8.2px 4.6px 5.3px rgba(0, 0, 0, 0.004),          ;
          font-size: 16px;
          font-weight: 500;
            padding: 12px 30px;
            &:focus{
                outline: none;
                border: .5px solid #272a30;
            }
        }
    }

}

.card-header{
    width: 100%;
    background-color: $primary;
background-image: linear-gradient(315deg, $primary 0%, #3b5ffc 74%);
    margin: 5vh auto;
    margin-top: 10vh;
    padding: 20px;
    border-radius: 12px;
    min-height: 25vh;
    background-color: #272a30;
    display:grid;
    grid-template-columns: 7fr 5fr;
    color: white;
    .left{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    button{
        margin: 15px 0;
        font-family: 'Poppins', sans-serif;
        padding:8px 12px;
        background-color: white;
        border-radius: 4px;
        border: none;
        font-weight: 500;
    }
    p{
        
        font-weight: 300 ;
        font-size: 1rem;
        margin-top: 10px;
    }
    h2{
        font-size: 1.2rem;
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        margin-top: -70px;
        max-width: 200px;
        position: relative;
    }
}

.categories{
    width: 100%;
    min-height: auto;
    padding: 20px 0;
    justify-content: space-between;
    .box.selected{
        border: 2px solid $primary;
        background-color: darken($color: #eff4f7, $amount: 1);

    }
    .box{
        min-width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background-color: #eff4f7;
        flex-direction: column;
        padding: 12px;
        color: $primary;
        cursor: pointer;
        transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
        border: 2px solid transparent;

        &:hover{
            transform: scale(1.1,1.1);
            border: 2px solid $primary;
            background-color: darken($color: #eff4f7, $amount: 1);
        }
    }
    img{
        width: 40px;
        height: 40px;
    }
    p{
        font-size: 15px;
        font-weight: 500;
    }
    display: flex;

    @media screen and (max-width:1000px) {

        display: grid;
        grid-template-columns: repeat(4,1fr);
        .box{
            margin: 10px;
            min-width: 75px;
            min-height: 75px;
        }
    }
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}
.card-grid{
    width: 100%;
    min-height: auto;
    display: grid;
    margin-top: 10vh;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;

    grid-gap: 75px 20px;
    @media screen and (max-width:600px) {

        grid-template-columns: repeat(1,1fr);
        
    }
    .card{
        max-width: 280px;
        margin: 0 auto;
        padding: 20px 0;
         transition: .5s ease-in-out;
        border-radius: 12px;
        width: 100%;
        background-color: #fff;
        box-shadow:
  1.1px 0px 2.2px rgba(0, 0, 0, 0.003),
  2.7px 0px 5.3px rgba(0, 0, 0, 0.004),
  5px 0px 10px rgba(0, 0, 0, 0.005),
  8.9px 0px 17.9px rgba(0, 0, 0, 0.006),
  16.7px 0px 33.4px rgba(0, 0, 0, 0.007),
  40px 0px 80px rgba(0, 0, 0, 0.01)
;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:hover{
            transform: scale(1.1,1.1);
        }
        .text{
            width: 100%;
            padding: 12px;
            text-align: center;
        }
        h2{
            min-height: 45px;
            font-size: 1rem;
            font-weight: 500;
        }
      
        img{
            box-shadow:
            1.1px 0px 2.2px rgba(0, 0, 0, 0.003),
            2.7px 0px 5.3px rgba(0, 0, 0, 0.004),;
            margin-top: -60px;
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: contain;
            object-position: center;

        }
    }
  
}

.col-2{
    padding: 0 20px;
    h2{
        font-size: 24px;
        font-family: $heading;
    }
}


@media screen and (max-width:900px) {
    .card-header{
        margin-top: 5vh;
    }
    .MainBoard .header{
        flex-direction: column;
        width: 95%;
        align-items: flex-start;
        justify-content: flex-start;
        h2{
            font-size: 1.2rem;
        }
        input{
            width: 80% !important;
        }
    }

    .card-header{
        h2{
            font-size: 1rem;
        }
        img{
            margin: 0;
            width: 120px;
        }
    }
    .icon-menu{
        position: absolute;
        right:8px;
    }
    .sidenav{
        display: none;
    }
    .home{
        display: block;
    }
    .MainBoard{
        padding: 10px;
    grid-template-columns: repeat(1,1fr) !important;
    .col{
        padding: 0;
    }
    }
}


.categories .box{
    margin: 2.5px !important;
}

.not-found{
    margin: 20px auto;
    width:100%;

}