@import '../../index.scss';

.Main-Container{
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    button{
        margin: 10px auto !important;
    }
    .ing-container{
        width: 100%;
        display: grid;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        
        .ing{
            margin: 0 5px;
            padding: 12px;
            border-radius: 12px;
            background-color:#e9f3fb48;
            color: $primary;
            transition: .2s ease;
            &:hover{
                background-color: $primary;
                color: white;
                cursor: pointer;
                p span{
                    color: whitesmoke;
                }
            }
            p{
                min-height: 40px;
                margin-top: 10px;
                text-transform: capitalize;
                text-align: center;
                font-weight: 400;
                font-size: .8rem;
                font-family: 'Poppins', sans-serif;

                span{
                    font-weight: 600;
                    font-size: .8rem;
                    color: #1b1b1b;


                }
            }


            img{
                width: 100%;
                height: 75px;
                object-fit: contain;
            }
            width: 100%;
        }
    }
    
    .hide{
        display: none;
    }
    .main-card{
        box-shadow:
        100px 100px 80px rgba(0, 0, 0, 0.03) ;    
        padding: 20px;
        margin: 20px auto;
        background-color: #fff;
    
    border-radius: 12px !important;
    overflow: hidden !important;
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-auto-rows: auto;
        width: 70%;
        min-height: 80vh;
        @media screen and (max-width:800px) {
            grid-template-columns: repeat(1,1fr);
            grid-gap: 25px;
            padding: 20px;
            width: 90%;
        }

        @media screen and (max-width:600px) {
            
            .ing-container{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 20px;
               p{
                   font-size: 1rem;

               }
            }
            
        }
    }
    .image{
        width: 100%;
        min-height: 50vh;
        .food{
            border-radius: 12px;
            width: 100%;
            height: 50vh;
            object-fit: cover;
            object-position: center;
        }
    }
    .col-2{
        width: 100%;
        min-height: 80vh;
        padding:20px;
        h2{
            font-size: 2rem !important;
        }
        h3{
            font-style: $body;
            font-weight: 600;
            margin: 20px auto;
            font-size: 1.2rem;
        }
        p{
            font-size: 1rem;
            margin: 10px auto;
        }

        h5{
            font-size: 1rem;
            margin: 25px auto;
            font-style: $body;
            span{
                font-weight: 500;
            }
        }
    }



}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .saved-btn{
        width: 36px;
        height: 36px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 20px;
        color: #ff637e;
        cursor: pointer;
        
        background-color: #fae4ec;
        border: none;
     
    }
}

.popup{
    border-radius: 0 18px  18px 0;
    width:25vw;
    min-width: 250px;
    transform: translateX(-100vw);
    left: 0;
    top: 0;
    min-height: 100vh;   
    position:absolute;
    overflow: hidden;
    color: white;
    background-color: $dark;
    transition: all 1s ease;
    padding: 20px;
    .head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


    }
    button{
        margin:10px  !important;
        background-color: lighten($color: $dark, $amount: 5);
        color: white;
        padding: 12px;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border: none;
        margin: 0 auto;
        transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover{
            background-color: lighten($color: $dark, $amount: 10);
        }
    }

    
    .grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: auto;
        grid-gap: 10px;
        
        .ing{
            border-radius: 12px;
            width: 100%;
            padding: 10px ;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: lighten($color: $dark, $amount: 10);
            img{
                margin: 5px auto;
                width: 80%;
            }
            p{
                text-align: center;
                font-weight:500;
                font-size: 14px;
                line-height: 20px;
                span{
                    font-size: 12px;
                    opacity: .5;
                }
             }
        }
    }

    h2{
        font-size: 20px;

    }

}

.popup.open{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(0);
}

@media screen and (max-width:1020px){
   .popup .grid{

    grid-template-columns: repeat(2,1fr) !important;

    }
}