@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.trend{
    background-size: cover;
    background-image: url('./trendbg.png');
}
.start{
    background-size: cover;
    background-image: url('./startbg.svg');

}