@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&display=swap');
$heading: 'DM Serif Display', serif;
$primary:#5627ff;
$dark:#05060f;
$body: 'Raleway', sans-serif;
.heading{
font-family: $heading;
font-size:1.5rem;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
h1,h2{
    font-family: $body;
}
// buttons
.center{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .view{
        
            margin: 10px 0 ;
            font-family: 'Poppins', sans-serif;

            background-color: #e9f3fb;
            color: $primary;
            border-radius: 6px;
            border: none;
            padding: 12px;
            cursor: pointer;
            transition: .2s ease-in-out;
            &:hover{
                background-color: $primary;
                color: #e9f3fb;

            }
        }
.show-on-small{
    display: none;
}
.icon-primary{
    width:36px;
    height: 36px;
    border-radius: 50%;
    color: white;
    background-color: $primary;
    border: none;
    margin: 10px;
    font-size: 18px;
    transition:all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover{
        background-color: $dark;
    }
}

.i-flex{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:900px)  {
    .hide-on-small{
        display: none;
    }
    .show-on-small{
        display: block;
    }
    .icon-menu{
        
        font-size: 34px;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $body;
}

.container{
    width: 80%;
    margin: 0 auto;
}

// loader
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $primary;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  