@import '../../index.scss';

.login{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 6fr 6fr;
    h1{
        margin: 25px auto;
        text-align: left;
    }
    .b-container{
        width: 60%;
        padding: 0px;
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
    }
    .box{
        min-width: 75px;
        min-height: 75px;
        border-radius: 6px;
        background-size: cover;
        background-color: #5627ff4f;
        transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover{
            border: 4px solid $primary;
        }
        margin-right: 10px;
    }
    .box.selected{
        border: 4px solid $primary;
    }
    .male{
        background-image: url('../Assets/male.png');
    }
    .female{
        background-image: url('../Assets/female.png');
    }
    .col-1{
        background-position: center;
        background-size: cover;
        background-image: url('../Assets/signin.webp');
    }
    .col-2{
        position: relative;
        transform: translateX(-50px);
        background-color: white;
        border-radius: 16px 0 0 16px;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner-box{
            width: 60%;
            min-height:auto;
            transform: translateX(40px);
        }
        #label
        {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 1rem;
            font-weight: 600;
            color: #67686d;
        }
        .input{
            width: 100%;
            &:hover{
                *{
                    color: #05060f !important;
                    transition: .2s ease-in-out;
                }
            }
        }
        input{
            width: 100%;
            background-color: #f0f0f0;
            border: none;
            padding: 12px;
            font-size: 16px;
            border-radius: 4px;
            transition:all .2s ease-in-out;
            color: #05060f;
            font-weight: 500;
            &:hover{
                border: 2px solid #05060f;
            }
            
            &:focus{
                outline: none !important;
                border: none !important;
            }
        }
        
        .cta{
            width: 100%;
            padding: 12px;
            margin: 25px auto;
            background-color: $primary;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            border: none;
            border-radius: 4px;
            transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            &:hover{
                background-color: $dark;
            }
        }

        #account{
            width: 100%;
            text-align: center;
            color: #67686d;
            a{
                color: $dark;
                font-weight: 600;

            }
        }
    }


}


@media screen and (max-width:800px) {

    .login{
         h1{
             font-size: 1.4rem;
         }
         #account{
             font-size: .8rem;
         }
        display: flex !important;
        flex-direction: column !important;
          .col-1{
              min-height: 25vh;
          }
          .col-2{
              min-height: 75vh;
              transform: none;

              padding: 0;
              .inner-box{
                  transform: none;
              }
          }
    }
    
}
