@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&display=swap");
.heading {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
}

.center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view {
  margin: 10px auto;
  font-family: 'Poppins', sans-serif;
  background-color: #e9f3fb;
  color: #5627ff;
  border-radius: 6px;
  border: none;
  padding: 12px;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.view:hover {
  background-color: #5627ff;
  color: #e9f3fb;
}

.show-on-small {
  display: none;
}

.icon-primary {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  background-color: #5627ff;
  border: none;
  margin: 10px;
  font-size: 18px;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-primary:hover {
  background-color: #05060f;
}

.i-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .hide-on-small {
    display: none;
  }
  .show-on-small {
    display: block;
  }
  .icon-menu {
    font-size: 34px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #5627ff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.login {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
}

.login h1 {
  margin: 25px auto;
  text-align: left;
}

.login .b-container {
  width: 60%;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 10px;
}

.login .box {
  min-width: 75px;
  min-height: 75px;
  border-radius: 6px;
  background-size: cover;
  background-color: #5627ff4f;
  -webkit-transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-right: 10px;
}

.login .box:hover {
  border: 4px solid #5627ff;
}

.login .box.selected {
  border: 4px solid #5627ff;
}

.login .male {
  background-image: url("../Assets/male.png");
}

.login .female {
  background-image: url("../Assets/female.png");
}

.login .col-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/signin.webp");
}

.login .col-2 {
  position: relative;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background-color: white;
  border-radius: 16px 0 0 16px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .col-2 .inner-box {
  width: 60%;
  min-height: auto;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.login .col-2 #label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #67686d;
}

.login .col-2 .input {
  width: 100%;
}

.login .col-2 .input:hover * {
  color: #05060f !important;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.login .col-2 input {
  width: 100%;
  background-color: #f0f0f0;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #05060f;
  font-weight: 500;
}

.login .col-2 input:hover {
  border: 2px solid #05060f;
}

.login .col-2 input:focus {
  outline: none !important;
  border: none !important;
}

.login .col-2 .cta {
  width: 100%;
  padding: 12px;
  margin: 25px auto;
  background-color: #5627ff;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.login .col-2 .cta:hover {
  background-color: #05060f;
}

.login .col-2 #account {
  width: 100%;
  text-align: center;
  color: #67686d;
}

.login .col-2 #account a {
  color: #05060f;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .login {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .login h1 {
    font-size: 1.4rem;
  }
  .login #account {
    font-size: .8rem;
  }
  .login .col-1 {
    min-height: 25vh;
  }
  .login .col-2 {
    min-height: 75vh;
    -webkit-transform: none;
            transform: none;
    padding: 0;
  }
  .login .col-2 .inner-box {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=login.css.map */